.dropdown-menu {
    transition: opacity 0.25s ease, transform 0.25s ease, visibility 0s 0.25s;
    transform: translateY(10px);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: 60; /* Добавить более высокий z-index */
}

.dropdown-services:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.25s ease, transform 0.25s ease, visibility 0s;
    pointer-events: auto;
}