{% load webpack_loader static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% stylesheet_pack 'app' %}
    <title>
        {% block title %}
            Boldrise Agency - Услуги Digital Маркетинга
        {% endblock %}
    </title>
    {% block schema %}
    {% endblock %}
</head>
<body class="font-sans text-gray-800 bg-gray-50">
{% include 'includes/header.html' %}

{# Добавляем скрытые сообщения от Django для обработки через JavaScript #}
{% if messages %}
<div class="hidden">
    {% for message in messages %}
        <div class="django-message" data-type="{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

<main>
{% block content %}
{% endblock %}
</main>
{% include 'includes/footer.html' %}
{% javascript_pack 'app' %}
</body>
</html>